<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <customErrors mode="Off" />
  </system.web>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <httpErrors errorMode="Detailed" existingResponse="PassThrough" />
      <aspNetCore processPath="dotnet" arguments=".\Acoustican.Web.dll" stdoutLogEnabled="true" stdoutLogFile=".\wwwroot\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: FDCE0AD9-D750-4481-B6F1-C23652BB593F-->
